# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
*.db
*.sqlite3

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
*.iml
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
